/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /*设置最小分辨率 图标不会变形*/
    min-width: 1366px;
}

.el-breadcrumb {
    margin: 10px;
    font-size: 15px;
}

.el-card {
    margin: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 14px;
}

/* 级联选择器 menu高度*/
.el-cascader-menu {
    height: 300px;
}
/*步骤条全局样式*/
.el-step__title {
    font-size: 14px;
}



